<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 8px;
          text-align: left;
        }
        </style>
</head>
<body>

    <h1>Resume List</h1>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Phone No.</td>
            <td>LinkedIn</td>
            <td>GitHub</td>
            <td>Role</td>
            <td>Experience</td>
            <td>View Resume</td>
        </tr>
        
        {% for resume in resumes %}
            <tr>
                <td>{{resume.name}}</td>
                <td>{{resume.email}}</td>
                <td>{{resume.phone_number}}</td>
                <td>{{resume.linkedin}}</td>
                <td>{{resume.github}}</td>
                <td>{{resume.role.name}}</td>
                <td>{{resume.total_experience}} Years</td>
                <td>
                    <button onclick="sendDeveloperName('{{ resume.slug }}')">View Resume</button>
                </td>
            </tr>
            
        {% endfor %}
            
    </table>

    <!-- <button onclick="generatePDF()">Generate PDF</button> -->

    
    <!-- JS for PDF generation -->
    <script>
        function sendDeveloperName(slug) {
            console.log(slug);
            if (slug) {
                window.location.href = `/resume/${encodeURIComponent(slug)}`;
            }
        }
        //function sendDeveloperName() {
        //    let developerName = document.getElementById("developer_list").value;
        //
        //    if (developerName) {
        //        window.location.href = `/resume/${encodeURIComponent(developerName)}`;
        //    }
        //}

        //function generatePDF() {
        //    let developerName = document.getElementById("developer_list").value;
        //    
        //    if (!developerName) return;
        //    
        //    fetch(`/generate-pdf/?name=${encodeURIComponent(developerName)}`, {
        //        method: "GET",
        //    })
        //    .then(response => {
        //        if (response.ok) {
        //            return response.blob();
        //        }
        //        throw new Error('Failed to generate PDF');
        //    })
        //    .then(blob => {
        //        let url = window.URL.createObjectURL(blob);
        //        let a = document.createElement("a");
        //        a.href = url;
        //        a.download = "resume.pdf";
        //        document.body.appendChild(a);
        //        a.click();
        //        a.remove();
        //    })
        //    .catch(error => console.error("Error:", error));
        //}        
        
    </script>
</body>
</html>